.Login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    font-family: 'Arial', sans-serif;
  }
  
  .main {
    display: flex;
    width: 70%;
    max-width: 1200px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .left-container {
    flex: 1;
    background: url('../../assets/image.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .left-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
  }
  
  .right-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .right-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .right-container form {
    width: 100%;
    max-width: 400px;
  }
  
  .right-container input {
    width: 330px;
    padding: 15px ;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
 
    transition: all 0.3s;
  }
  
  .right-container input:focus {
    outline: none;
    border-color: #001123;
    box-shadow: 0 0 8px rgba(0, 17, 35, 0.5);
  }
  
  .right-container button {
    width: 360px;
    margin: 10px 0;
    padding: 15px 0 15px 0px;

    background:rgb(18, 0, 0);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
  }
  
  .right-container button:hover {
    background: linear-gradient(135deg, #010e25 0%, #130026 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  
  .right-container p {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
  }
  
  .right-container a {
    color: #012051;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .right-container a:hover {
    color: #1e013d;
    text-decoration: underline;
  }
  .paragraphs{
    margin-left: -135px;
  }